# Data Types & Variables

## Exercise 1
Create integer, float, string, and boolean variables.

In [ ]:
age = 25
height = 5.9
name = 'Alice'
is_student = True
print(age, height, name, is_student)